* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

header h1 .seo {
  color: #d9dcd6;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/* the code below was not doing anything so I commented it out. */
/* header nav ul {
  list-style-type: none;
} */

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}
/* assigned a content class in the html doc to move the aside tag up next to the sections. */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
/* The benefits class is styling the <article> tag in the html doc. */

.benefits {
  margin-right: 20px;
  padding: 104px; /*changed from 20px to center the images within the <aside> html tag. */
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

.benefit {
  margin-bottom: 32px;
  color: white;
  text-align: center;
}
/* I removed the declaration below and placed it in the .benefit class to make it more concise. */
/* .benefit p {
   text-align: center; 
} */

/* no need for the 3 classes below. All consolidated into the .benefit class */
/* .benefit-lead { 
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-brand {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}*/
/* h3 tags given a 10px margin and centered in the <article> tag. */
.benefit h3 {
  margin: 10px auto;
  text-align: center;
}
/* images in the <article> tag centered and given a max width of 200px */
.benefit img {
  text-align: center;
  display: block;
  max-width: 200px;
}

/* no need for below code as it is covered in the .benefit h3 class selector */
/* .benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
} */

/* the 3 class selectors below have been commented out because they do not have classes in the html document. */
/* .benefit-lead img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.benefit-brand img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
} */

.section-content {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/* consolidated the main sections to a isngle class */
/* .online-reputation-management {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
} */

.section-content img {
  max-height: 200px;
}
/* consolidated the img elements to a single class */
/* .online-reputation-management img {
  max-height: 200px;
}

.social-media-marketing img {
  max-height: 200px;
} */

.section-content h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/* consolidated the h2 elements to a single class */
/* .online-reputation-management h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px; 
} */
/* changed from footer class selector because of improved semantics on the html doc. */
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  visibility: hidden;
}
/* changed from footer class selector because of improved semantics on the html doc. */
/* added the visibility: hidden declaration to hide the footer while maintaining the semantic html */
footer h2 {
  font-size: 20px;
}
